@import "tailwindcss";

@layer base {
  /*──────────────────────────────────
    Body
  ──────────────────────────────────*/
  body {
    @apply text-gray-900;
  }
  /*──────────────────────────────────
    Links
  ──────────────────────────────────*/
  a {
    @apply underline
           transition-colors
           duration-200
           ease-in-out
           hover:underline
           hover:text-current/50;
  }

  /*──────────────────────────────────
    Headings
  ──────────────────────────────────*/
  h1 { @apply font-bold text-4xl sm:text-5xl; }
  h2 { @apply font-bold text-3xl sm:text-4xl; }
  h3 { @apply text-xl leading-tight my-1; }
  h4 { @apply font-semibold text-sm; }
  h5 { @apply font-light text-sm text-gray-600; }

  /*──────────────────────────────────
    Horizontal rule
  ──────────────────────────────────*/
  hr {
    @apply border-t
           border-gray-300
           mt-2
           mb-4;
  }

  /*──────────────────────────────────
    Global buttons
  ──────────────────────────────────*/
  .button {
    @apply mt-2
           inline-block
           text-sm
           px-3 py-2
           bg-gray-900
           text-white
           font-normal
           rounded-sm
           no-underline
           shadow
           hover:bg-gray-600
           !no-underline
           !text-white
           focus:outline-none
           focus:ring-2
           focus:ring-gray-400
           focus:ring-offset-2
           transition
           duration-150;
  }

  /*──────────────────────────────────
    Button icons
  ──────────────────────────────────*/
  .button-icon i {
    @apply text-lg
           font-light
           hover:text-gray-500
           transition
           duration-150;
  }

  /*──────────────────────────────────
    Hoverblocks (project lists)
  ──────────────────────────────────*/
  .hoverblock {
    @apply block
           p-0
           transition
           duration-150
           group-hover:bg-gray-100
           group-hover:ring-8
           group-hover:ring-gray-100
           ring-offset-0
           rounded-sm;
  }

  /*──────────────────────────────────
    Badge style
  ──────────────────────────────────*/
  .badge {
    @apply px-[7px] py-[3px] rounded-[3px] text-[11px] text-white bg-[#aaaaaa];
  }
  .badge-react       { @apply bg-[#3182CE]; }
  .badge-d3          { @apply bg-[#46aee4]; }
  .badge-nodejs      { @apply bg-[#6B5B95]; }
  .badge-express     { @apply bg-[#000000]; }
  .badge-python      { @apply bg-[#FFD43B] text-black; }
  .badge-bootstrap   { @apply bg-[#7952B3]; }
  .badge-maplibre    { @apply bg-[#17A2B8]; }
  .badge-leaflet     { @apply bg-[#E94E77]; }


  /*──────────────────────────────────
    Global spacing across pages
  ──────────────────────────────────*/
  section, .project {
    @apply !mb-18 /* equal a */
  }
  section ul {
    @apply mb-6        /* mobile */
          space-y-8
          lg:mb-4      /* desktop */
          lg:space-y-6
  }
  section.section_updates ul {
    @apply lg:mb-8
           lg:!space-y-8

  }
  a.hoverblock {
    @apply mb-10
           lg:mb-0
  }
  .project h3 {
    @apply mt-3
           mb-2
  }
  .project-credits {
    @apply !bg-gray-200
           rounded-sm
           p-4
           space-y-2
  }
  /*──────────────────────────────────
    Override link styles in header, footer & hoverblocks
  ──────────────────────────────────*/
  header a,
  footer .button-icon,
  a.hoverblock {
    @apply no-underline
           text-current
           hover:!text-current;
  }

}

