---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---
<h1>Projects KD</h1>
<ul>
  {projects
    // optional: sort by date descending
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .map((proj) => (
      <li>
        <a href={`projects/${proj.data.slug ?? proj.id}/`}>
          {proj.data.title}
        </a>
      </li>
    ))}
</ul>
