--- 
import Layout from '../layout/Layout.astro';
import { getCollection } from 'astro:content';
const updates = await getCollection('updates');
---

<Layout>
  <h1>Updates</h1>
  <ul>
    {updates.map(u => (
      <li>
        <time datetime={u.data.date}>{u.data.date}</time> – {u.data.title}
      </li>
    ))}
  </ul>
</Layout>
