---
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((proj) => ({
    params: { slug: proj.data.slug ?? proj.id },
    props: { proj },
  }));
}

const { proj } = Astro.props;
const { Content } = await render(proj);
---
<article>
  <h1>{proj.data.title}</h1>
  <p><time>{proj.data.date.toDateString()}</time></p>
  <Content />
</article>
