---
import Layout from '../../layout/Layout.astro';
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---

<Layout>
  <h1>Projects</h1>
  <ul>
    {projects.map(p => (
      <li>
        <a href={`/portfolio/projects/${p.slug}/`}>{p.data.title}</a>
      </li>
    ))}
  </ul>
</Layout>